flask
flask_sqlalchemy
#flask_bcrypt
flask_login
flask-limiter
#cryptography
#python-dotenv
pyotp
#Flask
#Flask-Login
#Flask-Bcrypt
#Flask-WTF
FLask-Migrate
Flask-SQLAlchemy
#qrcode
pyqrcode
#python-decouple
#cryptocode-0.1
cryptocode
#pycryptodomex-3.21.0  #?
bcrypt
bleach
bleach_allowlist
markdown
itsdangerous
pycryptodome

