{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1>Cześć {{ user.login }}</h1>
    <hr>
    <h4>Ostatnie logowanie:</h4>
    <p>{{ user.last_login }}</p>
    <h4>Ostatnie nieudane logowanie:</h4>
    <p>{{ user.last_failed_login }}</p>
     <li>
    <a href="{{ url_for('main.new_note') }}">Dodaj notatkę</a>
    </li>
    <li>
    <a href="{{ url_for('main.my_notes') }}">Twoje notatki</a>
    </li>
    <li>
    <a href="{{ url_for('main.shared_notes') }}">Udostępnione notatki</a>
    </li>
    <li>
    <a href="{{ url_for('main.public_notes') }}">Publiczne notatki</a>
    </li>
</div>
{% endblock %}
