{% extends "base.html" %}

{% block content %}
<h1>Udostępnione notatki</h1>

{% if shared_notes %}
<table>
    <thead>
        <tr>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Opcje</th>
        </tr>
    </thead>
    <tbody>
        {% for note in shared_notes %}
        <tr>
            <td>{{ note.title }}</td>
            <td>{{ note.author.login }}</td>
            <td>
                {% if note.is_shared %}
                    <span>Udostępniona</span>
                {% endif %}
                {% if note.is_encrypted %}
                    <span>| Zaszyfrowana</span>
                {% endif %}
            </td>
            <td>

                {% if note.is_encrypted %}
                    <form method="POST" action="{{ url_for('main.view_note', note_id=note.id) }}" style="display: inline-block;">
                        <input type="password" name="encryption_key" placeholder="Klucz odszyfrowania" required>
                        <button type="submit">Odszyfruj i pokaż</button>
                    </form>
                {% else %}
                    <a href="{{ url_for('main.view_note', note_id=note.id) }}">Pokaż</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Nie masz jeszcze żadnych udostępnionych notatek.</p>
    <div class="note-actions">
        <a href="{{ url_for('main.profile') }}">Powrót do profilu</a>
    </div>
{% endif %}
{% endblock %}
