{% extends "base.html" %}

{% block content %}
<div class="note-container">
    <h1>{{ note.title }}</h1>
    <h2>Autor: {{ note.author.login }}</h2>
    <div class="note-metadata">
        <p><strong>Status:</strong>
            {% if note.is_public %}
                Publiczna
            {% elif note.is_shared %}
                Udostępniona
            {% else %}
                Prywatna
            {% endif %}
        </p>
    </div>

    <hr>
    <h3>Treść notatki:</h3>
    <div class="note-content">
            {{ rendered_content | safe }}
    </div>

<hr>
<div>
    <h4>Public Key (Base64):</h4>
    <pre>{{ public_key }}</pre>
    <h4>Signature (Base64):</h4>
    <pre>{{ signature }}</pre>
  </div>


    <div class="note-actions">
        <a href="{{ url_for('main.profile') }}">Powrót do profilu</a>
    </div>
</div>
{% endblock %}
